<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alex Forey</string>
	<key>Builder Version</key>
	<string>8536.28.10</string>
	<key>CFBundleDisplayName</key>
	<string>Markpond</string>
	<key>CFBundleIdentifier</key>
	<string>com.markpond.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>markpond-context</string>
				<key>Identifier</key>
				<string>markpond-context</string>
				<key>Title</key>
				<string>Save to Markpond</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>markpond-button</string>
				<key>Identifier</key>
				<string>markpond-button</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Label</key>
				<string>Markpond</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Markpond's Safari Extension</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://markpond.com/safari/versions.plist</string>
	<key>Website</key>
	<string>https://markpond.com</string>
</dict>
</plist>
